# This file is part of flask-thumbor.
# https://github.com/thumby/flask-thumbor

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2015, Thumby <dev@thumby.io>

[run]
omit =
    *tests.py
branch = True
source =
    flask_thumbor

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
